[submodule "reference_implementations/pydsdl"]
	path = reference_implementations/pydsdl
	url = https://github.com/OpenCyphal/pydsdl
[submodule "reference_implementations/nunavut"]
	path = reference_implementations/nunavut
	url = https://github.com/OpenCyphal/nunavut
[submodule "specs/specification"]
	path = specs/specification
	url = https://github.com/opencyphal/specification
